<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>uni0964</key>
	<string>uni0964.glif</string>
	<key>uni0965</key>
	<string>uni0965.glif</string>
	<key>u0b82</key>
	<string>u0b82.glif</string>
	<key>u0B83</key>
	<string>u0B_83.glif</string>
	<key>u0B85</key>
	<string>u0B_85.glif</string>
	<key>u0B86</key>
	<string>u0B_86.glif</string>
	<key>u0B87</key>
	<string>u0B_87.glif</string>
	<key>u0B88</key>
	<string>u0B_88.glif</string>
	<key>u0B89</key>
	<string>u0B_89.glif</string>
	<key>u0B8A</key>
	<string>u0B_8A_.glif</string>
	<key>u0B8E</key>
	<string>u0B_8E_.glif</string>
	<key>u0B8F</key>
	<string>u0B_8F_.glif</string>
	<key>u0B90</key>
	<string>u0B_90.glif</string>
	<key>u0B92</key>
	<string>u0B_92.glif</string>
	<key>u0B93</key>
	<string>u0B_93.glif</string>
	<key>u0B94</key>
	<string>u0B_94.glif</string>
	<key>u0B95</key>
	<string>u0B_95.glif</string>
	<key>u0B99</key>
	<string>u0B_99.glif</string>
	<key>u0B9A</key>
	<string>u0B_9A_.glif</string>
	<key>u0B9C</key>
	<string>u0B_9C_.glif</string>
	<key>u0B9E</key>
	<string>u0B_9E_.glif</string>
	<key>u0B9F</key>
	<string>u0B_9F_.glif</string>
	<key>u0BA3</key>
	<string>u0B_A_3.glif</string>
	<key>u0BA4</key>
	<string>u0B_A_4.glif</string>
	<key>u0BA8</key>
	<string>u0B_A_8.glif</string>
	<key>u0BA9</key>
	<string>u0B_A_9.glif</string>
	<key>u0BAA</key>
	<string>u0B_A_A_.glif</string>
	<key>u0BAE</key>
	<string>u0B_A_E_.glif</string>
	<key>u0BAF</key>
	<string>u0B_A_F_.glif</string>
	<key>u0BB0</key>
	<string>u0B_B_0.glif</string>
	<key>u0BB1</key>
	<string>u0B_B_1.glif</string>
	<key>u0BB2</key>
	<string>u0B_B_2.glif</string>
	<key>u0BB3</key>
	<string>u0B_B_3.glif</string>
	<key>u0BB4</key>
	<string>u0B_B_4.glif</string>
	<key>u0BB5</key>
	<string>u0B_B_5.glif</string>
	<key>u0BB6</key>
	<string>u0B_B_6.glif</string>
	<key>u0BB7</key>
	<string>u0B_B_7.glif</string>
	<key>u0BB8</key>
	<string>u0B_B_8.glif</string>
	<key>u0BB9</key>
	<string>u0B_B_9.glif</string>
	<key>u0BBE</key>
	<string>u0B_B_E_.glif</string>
	<key>u0BBF</key>
	<string>u0B_B_F_.glif</string>
	<key>u0BC0</key>
	<string>u0B_C_0.glif</string>
	<key>u0BC1</key>
	<string>u0B_C_1.glif</string>
	<key>u0BC2</key>
	<string>u0B_C_2.glif</string>
	<key>u0BC6</key>
	<string>u0B_C_6.glif</string>
	<key>u0BC7</key>
	<string>u0B_C_7.glif</string>
	<key>u0BC8</key>
	<string>u0B_C_8.glif</string>
	<key>u0BCA</key>
	<string>u0B_C_A_.glif</string>
	<key>u0BCB</key>
	<string>u0B_C_B_.glif</string>
	<key>u0BCC</key>
	<string>u0B_C_C_.glif</string>
	<key>u0BCD</key>
	<string>u0B_C_D_.glif</string>
	<key>u0BD7</key>
	<string>u0B_D_7.glif</string>
	<key>u0BE7</key>
	<string>u0B_E_7.glif</string>
	<key>u0BE8</key>
	<string>u0B_E_8.glif</string>
	<key>u0BE9</key>
	<string>u0B_E_9.glif</string>
	<key>u0BEA</key>
	<string>u0B_E_A_.glif</string>
	<key>u0BEB</key>
	<string>u0B_E_B_.glif</string>
	<key>u0BEC</key>
	<string>u0B_E_C_.glif</string>
	<key>u0BED</key>
	<string>u0B_E_D_.glif</string>
	<key>u0BEE</key>
	<string>u0B_E_E_.glif</string>
	<key>u0BEF</key>
	<string>u0B_E_F_.glif</string>
	<key>u0BF0</key>
	<string>u0B_F_0.glif</string>
	<key>u0BF1</key>
	<string>u0B_F_1.glif</string>
	<key>u0BF2</key>
	<string>u0B_F_2.glif</string>
	<key>u0BF3</key>
	<string>u0B_F_3.glif</string>
	<key>u0BF4</key>
	<string>u0B_F_4.glif</string>
	<key>u0BF5</key>
	<string>u0B_F_5.glif</string>
	<key>u0BF6</key>
	<string>u0B_F_6.glif</string>
	<key>u0BF7</key>
	<string>u0B_F_7.glif</string>
	<key>u0BF8</key>
	<string>u0B_F_8.glif</string>
	<key>u0BF9</key>
	<string>u0B_F_9.glif</string>
	<key>u0BFA</key>
	<string>u0B_F_A_.glif</string>
	<key>afii61664</key>
	<string>afii61664.glif</string>
	<key>afii301</key>
	<string>afii301.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>u0B95_u0BBF.abvs</key>
	<string>u0B_95_u0B_B_F_.abvs.glif</string>
	<key>u0B99_u0BBF.abvs</key>
	<string>u0B_99_u0B_B_F_.abvs.glif</string>
	<key>u0B9A_u0BBF.abvs</key>
	<string>u0B_9A__u0B_B_F_.abvs.glif</string>
	<key>u0B9C_u0BBF.abvs</key>
	<string>u0B_9C__u0B_B_F_.abvs.glif</string>
	<key>u0B9E_u0BBF.abvs</key>
	<string>u0B_9E__u0B_B_F_.abvs.glif</string>
	<key>u0B9F_u0BBF.abvs</key>
	<string>u0B_9F__u0B_B_F_.abvs.glif</string>
	<key>u0BA3_u0BBF.abvs</key>
	<string>u0B_A_3_u0B_B_F_.abvs.glif</string>
	<key>u0BA4_u0BBF.abvs</key>
	<string>u0B_A_4_u0B_B_F_.abvs.glif</string>
	<key>u0BA8_u0BBF.abvs</key>
	<string>u0B_A_8_u0B_B_F_.abvs.glif</string>
	<key>u0BA9_u0BBF.abvs</key>
	<string>u0B_A_9_u0B_B_F_.abvs.glif</string>
	<key>u0BAA_u0BBF.abvs</key>
	<string>u0B_A_A__u0B_B_F_.abvs.glif</string>
	<key>u0BAE_u0BBF.abvs</key>
	<string>u0B_A_E__u0B_B_F_.abvs.glif</string>
	<key>u0BAF_u0BBF.abvs</key>
	<string>u0B_A_F__u0B_B_F_.abvs.glif</string>
	<key>u0BB0_u0BBF.abvs</key>
	<string>u0B_B_0_u0B_B_F_.abvs.glif</string>
	<key>u0BB1_u0BBF.abvs</key>
	<string>u0B_B_1_u0B_B_F_.abvs.glif</string>
	<key>u0BB2_u0BBF.abvs</key>
	<string>u0B_B_2_u0B_B_F_.abvs.glif</string>
	<key>u0BB3_u0BBF.abvs</key>
	<string>u0B_B_3_u0B_B_F_.abvs.glif</string>
	<key>u0BB4_u0BBF.abvs</key>
	<string>u0B_B_4_u0B_B_F_.abvs.glif</string>
	<key>u0BB5_u0BBF.abvs</key>
	<string>u0B_B_5_u0B_B_F_.abvs.glif</string>
	<key>u0BB7_u0BBF.abvs</key>
	<string>u0B_B_7_u0B_B_F_.abvs.glif</string>
	<key>u0BB8_u0BBF.abvs</key>
	<string>u0B_B_8_u0B_B_F_.abvs.glif</string>
	<key>u0BB9_u0BBF.abvs</key>
	<string>u0B_B_9_u0B_B_F_.abvs.glif</string>
	<key>u0B95_u0BC0.abvs</key>
	<string>u0B_95_u0B_C_0.abvs.glif</string>
	<key>u0B99_u0BC0.abvs</key>
	<string>u0B_99_u0B_C_0.abvs.glif</string>
	<key>u0B9A_u0BC0.abvs</key>
	<string>u0B_9A__u0B_C_0.abvs.glif</string>
	<key>u0B9C_u0BC0.abvs</key>
	<string>u0B_9C__u0B_C_0.abvs.glif</string>
	<key>u0B9E_u0BC0.abvs</key>
	<string>u0B_9E__u0B_C_0.abvs.glif</string>
	<key>u0B9F_u0BC0.abvs</key>
	<string>u0B_9F__u0B_C_0.abvs.glif</string>
	<key>u0BA3_u0BC0.abvs</key>
	<string>u0B_A_3_u0B_C_0.abvs.glif</string>
	<key>u0BA4_u0BC0.abvs</key>
	<string>u0B_A_4_u0B_C_0.abvs.glif</string>
	<key>u0BA8_u0BC0.abvs</key>
	<string>u0B_A_8_u0B_C_0.abvs.glif</string>
	<key>u0BA9_u0BC0.abvs</key>
	<string>u0B_A_9_u0B_C_0.abvs.glif</string>
	<key>u0BAA_u0BC0.abvs</key>
	<string>u0B_A_A__u0B_C_0.abvs.glif</string>
	<key>u0BAE_u0BC0.abvs</key>
	<string>u0B_A_E__u0B_C_0.abvs.glif</string>
	<key>u0BAF_u0BC0.abvs</key>
	<string>u0B_A_F__u0B_C_0.abvs.glif</string>
	<key>u0BB0_u0BC0.abvs</key>
	<string>u0B_B_0_u0B_C_0.abvs.glif</string>
	<key>u0BB1_u0BC0.abvs</key>
	<string>u0B_B_1_u0B_C_0.abvs.glif</string>
	<key>u0BB2_u0BC0.abvs</key>
	<string>u0B_B_2_u0B_C_0.abvs.glif</string>
	<key>u0BB3_u0BC0.abvs</key>
	<string>u0B_B_3_u0B_C_0.abvs.glif</string>
	<key>u0BB4_u0BC0.abvs</key>
	<string>u0B_B_4_u0B_C_0.abvs.glif</string>
	<key>u0BB5_u0BC0.abvs</key>
	<string>u0B_B_5_u0B_C_0.abvs.glif</string>
	<key>u0BB7_u0BC0.abvs</key>
	<string>u0B_B_7_u0B_C_0.abvs.glif</string>
	<key>u0BB8_u0BC0.abvs</key>
	<string>u0B_B_8_u0B_C_0.abvs.glif</string>
	<key>u0BB9_u0BC0.abvs</key>
	<string>u0B_B_9_u0B_C_0.abvs.glif</string>
	<key>u0B95_u0BC1.blws</key>
	<string>u0B_95_u0B_C_1.blws.glif</string>
	<key>u0B99_u0BC1.blws</key>
	<string>u0B_99_u0B_C_1.blws.glif</string>
	<key>u0B9A_u0BC1.blws</key>
	<string>u0B_9A__u0B_C_1.blws.glif</string>
	<key>glyph175</key>
	<string>glyph175.glif</string>
	<key>u0B9E_u0BC1.blws</key>
	<string>u0B_9E__u0B_C_1.blws.glif</string>
	<key>u0B9F_u0BC1.blws</key>
	<string>u0B_9F__u0B_C_1.blws.glif</string>
	<key>u0BA3_u0BC1.blws</key>
	<string>u0B_A_3_u0B_C_1.blws.glif</string>
	<key>u0BA4_u0BC1.blws</key>
	<string>u0B_A_4_u0B_C_1.blws.glif</string>
	<key>u0BA8_u0BC1.blws</key>
	<string>u0B_A_8_u0B_C_1.blws.glif</string>
	<key>u0BA9_u0BC1.blws</key>
	<string>u0B_A_9_u0B_C_1.blws.glif</string>
	<key>u0BAA_u0BC1.blws</key>
	<string>u0B_A_A__u0B_C_1.blws.glif</string>
	<key>u0BAE_u0BC1.blws</key>
	<string>u0B_A_E__u0B_C_1.blws.glif</string>
	<key>u0BAF_u0BC1.blws</key>
	<string>u0B_A_F__u0B_C_1.blws.glif</string>
	<key>u0BB0_u0BC1.blws</key>
	<string>u0B_B_0_u0B_C_1.blws.glif</string>
	<key>u0BB1_u0BC1.blws</key>
	<string>u0B_B_1_u0B_C_1.blws.glif</string>
	<key>u0BB2_u0BC1.blws</key>
	<string>u0B_B_2_u0B_C_1.blws.glif</string>
	<key>u0BB3_u0BC1.blws</key>
	<string>u0B_B_3_u0B_C_1.blws.glif</string>
	<key>u0BB4_u0BC1.blws</key>
	<string>u0B_B_4_u0B_C_1.blws.glif</string>
	<key>u0BB5_u0BC1.blws</key>
	<string>u0B_B_5_u0B_C_1.blws.glif</string>
	<key>u0B95_u0BC2.blws</key>
	<string>u0B_95_u0B_C_2.blws.glif</string>
	<key>u0B99_u0BC2.blws</key>
	<string>u0B_99_u0B_C_2.blws.glif</string>
	<key>u0B9A_u0BC2.blws</key>
	<string>u0B_9A__u0B_C_2.blws.glif</string>
	<key>glyph194</key>
	<string>glyph194.glif</string>
	<key>u0B9E_u0BC2.blws</key>
	<string>u0B_9E__u0B_C_2.blws.glif</string>
	<key>u0B9F_u0BC2.blws</key>
	<string>u0B_9F__u0B_C_2.blws.glif</string>
	<key>u0BA3_u0BC2.blws</key>
	<string>u0B_A_3_u0B_C_2.blws.glif</string>
	<key>u0BA4_u0BC2.blws</key>
	<string>u0B_A_4_u0B_C_2.blws.glif</string>
	<key>u0BA8_u0BC2.blws</key>
	<string>u0B_A_8_u0B_C_2.blws.glif</string>
	<key>u0BA9_u0BC2.blws</key>
	<string>u0B_A_9_u0B_C_2.blws.glif</string>
	<key>u0BAA_u0BC2.blws</key>
	<string>u0B_A_A__u0B_C_2.blws.glif</string>
	<key>u0BAE_u0BC2.blws</key>
	<string>u0B_A_E__u0B_C_2.blws.glif</string>
	<key>u0BAF_u0BC2.blws</key>
	<string>u0B_A_F__u0B_C_2.blws.glif</string>
	<key>u0BB0_u0BC2.blws</key>
	<string>u0B_B_0_u0B_C_2.blws.glif</string>
	<key>u0BB1_u0BC2.blws</key>
	<string>u0B_B_1_u0B_C_2.blws.glif</string>
	<key>u0BB2_u0BC2.blws</key>
	<string>u0B_B_2_u0B_C_2.blws.glif</string>
	<key>u0BB3_u0BC2.blws</key>
	<string>u0B_B_3_u0B_C_2.blws.glif</string>
	<key>u0BB4_u0BC2.blws</key>
	<string>u0B_B_4_u0B_C_2.blws.glif</string>
	<key>u0BB5_u0BC2.blws</key>
	<string>u0B_B_5_u0B_C_2.blws.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BBF.abvs</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn_u0B_B_F_.abvs.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BC0.abvs</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn_u0B_C_0.abvs.glif</string>
	<key>u0BB6_u0BCD.half_u0BB0_u0BC0.abvs</key>
	<string>u0B_B_6_u0B_C_D_.half_u0B_B_0_u0B_C_0.abvs.glif</string>
	<key>u0B95_u0BCD.half</key>
	<string>u0B_95_u0B_C_D_.half.glif</string>
	<key>u0B99_u0BCD.half</key>
	<string>u0B_99_u0B_C_D_.half.glif</string>
	<key>u0B9A_u0BCD.half</key>
	<string>u0B_9A__u0B_C_D_.half.glif</string>
	<key>u0B9C_u0BCD.half</key>
	<string>u0B_9C__u0B_C_D_.half.glif</string>
	<key>u0B9E_u0BCD.half</key>
	<string>u0B_9E__u0B_C_D_.half.glif</string>
	<key>u0B9F_u0BCD.half</key>
	<string>u0B_9F__u0B_C_D_.half.glif</string>
	<key>u0BA3_u0BCD.half</key>
	<string>u0B_A_3_u0B_C_D_.half.glif</string>
	<key>u0BA4_u0BCD.half</key>
	<string>u0B_A_4_u0B_C_D_.half.glif</string>
	<key>u0BA8_u0BCD.half</key>
	<string>u0B_A_8_u0B_C_D_.half.glif</string>
	<key>u0BA9_u0BCD.half</key>
	<string>u0B_A_9_u0B_C_D_.half.glif</string>
	<key>u0BAA_u0BCD.half</key>
	<string>u0B_A_A__u0B_C_D_.half.glif</string>
	<key>u0BAE_u0BCD.half</key>
	<string>u0B_A_E__u0B_C_D_.half.glif</string>
	<key>u0BAF_u0BCD.half</key>
	<string>u0B_A_F__u0B_C_D_.half.glif</string>
	<key>u0BB0_u0BCD.half</key>
	<string>u0B_B_0_u0B_C_D_.half.glif</string>
	<key>u0BB1_u0BCD.half</key>
	<string>u0B_B_1_u0B_C_D_.half.glif</string>
	<key>u0BB2_u0BCD.half</key>
	<string>u0B_B_2_u0B_C_D_.half.glif</string>
	<key>u0BB3_u0BCD.half</key>
	<string>u0B_B_3_u0B_C_D_.half.glif</string>
	<key>u0BB4_u0BCD.half</key>
	<string>u0B_B_4_u0B_C_D_.half.glif</string>
	<key>u0BB5_u0BCD.half</key>
	<string>u0B_B_5_u0B_C_D_.half.glif</string>
	<key>u0BB7_u0BCD.half</key>
	<string>u0B_B_7_u0B_C_D_.half.glif</string>
	<key>u0BB8_u0BCD.half</key>
	<string>u0B_B_8_u0B_C_D_.half.glif</string>
	<key>u0BB9_u0BCD.half</key>
	<string>u0B_B_9_u0B_C_D_.half.glif</string>
	<key>u0B95_u0BCD_u0BB7.akhn_u0BCD.half</key>
	<string>u0B_95_u0B_C_D__u0B_B_7.akhn_u0B_C_D_.half.glif</string>
	<key>u0BB6_u0BCD.half</key>
	<string>u0B_B_6_u0B_C_D_.half.glif</string>
	<key>u0BB6_u0BC0.half</key>
	<string>u0B_B_6_u0B_C_0.half.glif</string>
	<key>u0BB6_u0BBF.abvs</key>
	<string>u0B_B_6_u0B_B_F_.abvs.glif</string>
	<key>u0BE6</key>
	<string>u0B_E_6.glif</string>
	<key>uni0BD0</key>
	<string>uni0B_D_0.glif</string>
	<key>uni20B9</key>
	<string>uni20B_9.glif</string>
    </dict>
</plist>
